altair
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
bleach
blinker
cachetool
cffi
charset-normalizer
click
colorama
commonmark
cryptography
debugpy
decorator
distlib
docutils
entrypoints
executing
filelock
gitdb
GitPython
idna
importlib-metadata
ipykernel
ipython
ipywidgets
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-widgets
keyring
MarkupSafe
matplotlib-inline
nest-asyncio
numpy
packaging
pandas
parso
pickleshare
Pillow
pkginfo
platformdirs
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycparser
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
pyzmq
readme-renderer
requests
requests-toolbelt
rfc3986
rich
semver
six
smmap
stack-data
streamlit
streamlit-cookies-manager
streamlit-lottie
streamlit-option-menu
toml
toolz
tornado
traitlets
trycourier
twine
typing_extensions
tzdata
tzlocal
urllib3
validators
virtualenv
watchdog
wcwidth
webencodings
widgetsnbextension
wincertstore
zipp
google-generativeai
langchain_google_genai
